{% extends 'blog_base.html' %}

{% load staticfiles %}

{% block article_title_block %}
    {% if last_article %}
        {{ last_article }}
    {% else %}
        Empty!!!
    {% endif %}
{% endblock %}

{% block article_created_time_block %}{{ last_article.created }}{% endblock %}

{% block content_block %}

    <h2>Room Escape</h2>

    <video controls>
        {#        <source src="{% static "video/showtime.m4v" %}">#}
        <source src="https://www.googledrive.com/host/0BwfSM3RceToTMzJ0bDJ1RmhRajQ"/>
        Your browser does not support the video tag.
    </video>

    <br>
    <br>

    <h2>Calorie Manager</h2>

    <h3>Function 1: User Management</h3>
    <p>Users can log in and register. After login, users can review their profile. They also can select the theme color they like.<br></p>
    <div>
        <img width="141px" height="248px" src="{% static "images/CalorieManager/login.jpg" %}" alt="login.jpg"/>
        <img width="141px" height="248px" src="{% static "images/CalorieManager/login_blue.jpg" %}" alt="login_blue.jpg"/>
        <img width="141px" height="248px" src="{% static "images/CalorieManager/register.jpg" %}"  alt="register.jpg"/>
        <img width="141px" height="248px" src="{% static "images/CalorieManager/profile.jpg" %}" alt="profile.jpg"/>
    </div>
    <br>

    <h3>Function 2: Search Food</h3>
    <p>Users can search the food they are eating by food names, and then add to their records which can be reviewed later with a chart.</p>
    <span>
        <img width="141px" height="248px" src="{% static "images/CalorieManager/home.jpg" %}" alt="home.jpg"/>
        <img width="141px" height="248px" src="{% static "images/CalorieManager/food_search_result.jpg" %}" alt="food_search_result.jpg"/>
        <img width="141px" height="248px" src="{% static "images/CalorieManager/food_intro.jpg" %}" alt="food_intro.jpg"/>
        <img width="141px" height="248px" src="{% static "images/CalorieManager/add_record.jpg" %}" alt="add_record.jpg"/>
        <img width="141px" height="248px" src="{% static "images/CalorieManager/home_after_adding_food.jpg" %}" alt="home_after_adding_food.jpg"/>
        <img width="141px" height="248px" src="{% static "images/CalorieManager/user_record.jpg" %}" alt="user_record.jpg"/>
    </span>
    <br>

    <h3>Function 3: Meal Recommendation</h3>
    <p>User can choose which meal plan they are looking for. Then add some filter conditions to get a list of recommendations.<br></p>
    <span>
        <img width="141px" height="248px" src="{% static "images/CalorieManager/meal_plan.jpg" %}" alt="meal_plan.jpg"/>
        <img width="141px" height="248px" src="{% static "images/CalorieManager/meal_recommendation.jpg" %}" alt="meal_plan.jpg"/>
    </span>
    <br>
    <br>
    <br>

    <p>Here is the test of code</p>
    <hr>
    <pre><code>
        // my first program in C++
        #include &lt;iostream&gt;

        int main()
        {
        std::cout << "Hello World!";
        }
    </code></pre>
    <img src="{% static "images/cat.png" %}" class="img-responsive" alt="Picture of Cat" />

{% endblock %}
