{% extends 'blog_base.html' %}

{% load staticfiles %}

{% block article_title_block %}
    {% if last_article %}
        {{ last_article }}
    {% else %}
        Empty!!!
    {% endif %}
{% endblock %}

{% block article_created_time_block %}{{ last_article.created }}{% endblock %}

{% block content_block %}
    <p>Here is the test of code</p>
    <hr>
    <pre><code>
        // my first program in C++
        #include &lt;iostream&gt;

        int main()
        {
        std::cout << "Hello World!";
        }
    </code></pre>
    <img src="{% static "images/cat.png" %}" class="img-responsive" alt="Picture of Cat" />
{% endblock %}
